@import url(https://fonts.googleapis.com/css?family=Fredoka+One);@import url(https://fonts.googleapis.com/css?family=Baumans);* {
  font-family: "Baumans", cursive;
}

.v--modal {
  border-radius: 25px !important;
  background-color: #ffffffad !important;
}

.v--modal-overlay {
  background: rgba(0, 0, 0, 0.83) !important;
  z-index: 99999999999 !important;
}

.info-modal {
  font-family: "Baumans", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.info-modal > i {
  font-size: 2em;
  color: #292929;
  margin: 20px;
}

.info-modal > span {
  font-size: 1.3em;
  color: #292929;
  text-transform: uppercase;
}

